<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
body {
    max-width: 1200px;
}
.content {
    justify-content: center;
    align-items: center;
}
.sunburst {
    max-width: 800px;
    width: 90%;
    max-height: 500px !important;
}
.table {
    width: 90%;
    padding: 30px;
}
.organization-title {
    font-size: 30px;
    font-weight: bold;
}
</style>
<body>
    <div class="organization-title">{{organization}}</div>
    <div class="header">{{total_errors}} different issues encountered is affecting a total of {{affected_hakai_ids}} hakai_ids. </div>
    <div class="content">
        <div class='sunburst'>{{sunburst_figure_html}}</div>
        <div class='table'>{{summary_table_html}}</div>
    </div>
</body>