---
hide:
  - navigation
  - toc
---

# {{organization}}
{{total_errors}} different issues encountered is
affecting a total of {{affected_hakai_ids}} hakai_ids.

<div id='figure'>{{figure.to_html(full_html=False, include_plotlyjs="cdn")}}</div>
{{summary_table.to_markdown(index=False)}}